@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
	font-family: "Source Sans Pro", sans-serif;
}

.flexed {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
}

.flex-btw {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contianer {
	margin-top: 10px;
}

.sidebarIcon {
	margin-right: 5px;
	font-size: 20px !important;
}
